<h3>Listado de heroes</h3>

<h3 *ngIf="deletedHero; else nothingWasDeleted">
  Heroe borrado <small class="text-danger">{{ deletedHero.name }}</small>
</h3>

<ng-template #nothingWasDeleted>
  <h3 >No ha borrado nada.</h3>
</ng-template>

<button
  *ngIf="heroes.length > 0"
  (click)="removeLastHero()"
  class="btn btn-danger">
  Borrar ultimo heroe
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let hero of heroes" class="list-group-item">
    <strong>{{ hero.name }}</strong>
  </li>
</ul>
