<h2>By Capital</h2>

<hr>

<div class="row">
  <div class="col">
    <!-- Searchbox -->
    <!-- (OnValue)="searchByCapital( $event )" -->
    <shared-searchbox
      (OnDebounce)="searchByCapital( $event )"
      placeholder="Search by capital"
      [initialValue]="initialValue"
      >
    </shared-searchbox>
  </div>
</div>

<hr />

<div class="row">
  <div class="col">
    <shared-loader *ngIf="isLoading"></shared-loader>

    <countries-country-table [countries]="countries"></countries-country-table>
  </div>
</div>
